NODE_ENV=DEVELOPMENT
PORT=5000
FRONTEND_URL=http://localhost:5173
DATABASE_URL=<enter-database-url>
CLIENT_ID=<enter-google-client-id>
CLIENT_SECRET=<enter-google-client-secret>
GMAIL_REFRESH_TOKEN=<enter-gmail-refresh-token>
EMAIL_USER=<enter-email-user>
ACCESS_TOKEN_SECRET=<enter-access-token-secret>
REFRESH_TOKEN_SECRET=<enter-refresh-token-secret>